In [31]:
from dotenv import load_dotenv; load_dotenv()
import os
import json
from datetime import datetime
import pandas as pd
import requests

from Backend.Order import Order
from Backend.Position import Position
from Backend.config import USATimeZone

In [14]:
authentication_header = {
    'APCA-API-KEY-ID': os.environ.get('APCA-API-KEY-ID'),
    'APCA-API-SECRET-KEY': os.environ.get('APCA-API-SECRET-KEY')
}

In [19]:
calendar_url = 'https://paper-api.alpaca.markets/v2/calendar'
r = requests.get(calendar_url, headers=authentication_header)
data = r.json()

In [96]:
df = pd.DataFrame(data)
# df['date'] = df['date'].apply(lambda t: datetime.strptime(t, '%Y-%m-%d'))
# df['open'] = df['open'].apply(lambda t: datetime.strptime(t, '%H:%M'))
# df['close'] = df['close'].apply(lambda t: datetime.strptime(t, '%H:%M'))
df.set_index('date', inplace=True)
df.drop(columns=['session_open', 'session_close'], inplace=True)
df.to_csv('./Data/MarketCalendar')
df

             open  close
date
1970-01-02  09:30  16:00
1970-01-05  09:30  16:00
1970-01-06  09:30  16:00
1970-01-07  09:30  16:00
1970-01-08  09:30  16:00
...           ...    ...
2029-12-18  09:30  16:00
2029-12-19  09:30  16:00
2029-12-20  09:30  16:00
2029-12-21  09:30  16:00
2029-12-24  09:30  13:00

[15136 rows x 2 columns]

In [106]:
df = pd.read_csv('Data/MarketCalendar',parse_dates=[ [0,1], [0,2]])
df['date'] = df['date_open'].apply(lambda t: datetime(t.year, t.month, t.day))
df.set_index('date', inplace=True)
df.rename(columns={'date_open': 'open', 'date_close': 'close'}, inplace=True)
df

                          open               close
date
1970-01-02 1970-01-02 09:30:00 1970-01-02 16:00:00
1970-01-05 1970-01-05 09:30:00 1970-01-05 16:00:00
1970-01-06 1970-01-06 09:30:00 1970-01-06 16:00:00
1970-01-07 1970-01-07 09:30:00 1970-01-07 16:00:00
1970-01-08 1970-01-08 09:30:00 1970-01-08 16:00:00
...                        ...                 ...
2029-12-18 2029-12-18 09:30:00 2029-12-18 16:00:00
2029-12-19 2029-12-19 09:30:00 2029-12-19 16:00:00
2029-12-20 2029-12-20 09:30:00 2029-12-20 16:00:00
2029-12-21 2029-12-21 09:30:00 2029-12-21 16:00:00
2029-12-24 2029-12-24 09:30:00 2029-12-24 13:00:00

[15136 rows x 2 columns]

In [81]:
try:
    a = df.loc[datetime(1970,1,3)]
    a['open'].hour
except KeyError:
    print('key error')

key error