In [1]:
from dotenv import load_dotenv; load_dotenv()
import os
import json
from datetime import datetime
import pandas as pd
import requests
import sys; sys.path.append("./Backend")

In [2]:
from Backend.Order import Order
from Backend.Account import Account
from Backend.HistoryData import getHistoryBarsData
from Backend.Resolution import Resolution
from Indicator.SMA import SMA
from Backend.Algorithm import Algorithm
from Backend.config import USATimeZone
from Backend.RollingWindow import RollingWindow

In [3]:
algo = Algorithm(log=True, debug_log=True)
sma03 = SMA(algo, 'TSLA', 3)
sma10 = SMA(algo, 'TSLA', 10)
sma50 = SMA(algo, 'TSLA', 50)
for bar in getHistoryBarsData('TSLA', 50, Resolution.Min).itertuples():
    sma03.Update(bar.close)
    sma10.Update(bar.close)
    sma50.Update(bar.close)
print(sma03.value)
print(sma10.value)
print(sma50.value)

[History data]
start: 2021-07-27 11:26:00-04:00
end: 2021-07-27 12:17:00-04:00
635.2411000000001
635.96884
635.573626

In [5]:
start = datetime(2021, 7, 27, 11, 23, tzinfo=USATimeZone)
end = datetime(2021, 7, 27, 11, 40, tzinfo=USATimeZone)
data = getHistoryBarsData('TSLA',0, Resolution.Min, start=start, end=end)
cnt = 0
closes = data['close']
for pre, now in zip(closes[:-1], closes[1:]):
    if pre > now:
        cnt += 1
cnt / (len(closes) - 1)

                               open      high       low     close  volume
timestape
2021-07-27 15:23:00+00:00  642.5052  643.0000  641.5501  641.6861   37119
2021-07-27 15:24:00+00:00  641.7700  642.4000  641.4401  641.6220   42974
2021-07-27 15:25:00+00:00  641.5800  641.8100  639.9000  640.0738   66202
2021-07-27 15:26:00+00:00  640.0600  640.3299  638.6000  639.4300  123018
2021-07-27 15:27:00+00:00  639.4538  639.7975  639.0800  639.5550   48941
2021-07-27 15:28:00+00:00  639.5100  640.2999  639.0000  639.4721   71563
2021-07-27 15:29:00+00:00  639.5800  640.2199  638.8801  639.6199   77524
2021-07-27 15:30:00+00:00  639.3500  639.4500  638.2100  638.5000   80213
2021-07-27 15:31:00+00:00  638.3750  638.9990  638.1500  638.5700   82846
2021-07-27 15:32:00+00:00  638.4200  639.0000  637.5000  637.9600  181566
2021-07-27 15:33:00+00:00  638.0500  638.5900  635.3300  635.6556  187747
2021-07-27 15:34:00+00:00  635.6400  636.0600  634.8800  634.9800  135821
2021-07-27 15:35:00+00:00  634.9800  635.1400  634.0400  634.8800   93121
2021-07-27 15:36:00+00:00  634.9000  635.0000  633.3400  633.3400  102473
2021-07-27 15:37:00+00:00  633.3500  634.2300  633.1500  633.8050  109567
2021-07-27 15:38:00+00:00  633.7800  633.8799  632.9200  633.1300  116095
2021-07-27 15:39:00+00:00  633.2410  634.1500  632.0200  632.3300   94662
2021-07-27 15:40:00+00:00  632.2600  632.6800  630.1100  632.3501  206430

In [8]:
roll = RollingWindow(10)
for i in range(10):
    roll.Update(i)
list(roll)[2:]

[7, 6, 5, 4, 3, 2, 1, 0]